body{
    font-family: "Montserrat" sans-serif;
}
h1, h2{
    font-family: "Montserrat", sans-serif;
    color: #D27F78;
    text-align: center;
}

h1{
    font-size: 3em;
}
h3{
    color:#aa9abd;
    text-align: left;
    margin-left: 80;
}

button{
    margin-left: 80;
}



.nav-bar{
    align-content: left;
    font-family: "Montserrat", sans-serif;
    color: #FFC7BA;
    background-color: #aa9abd;
}


a:link{
    color: #FFC7BA;
    text-decoration: none;
}
a:visited{
    color: #FFC7BA ;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button:active{
    background-color: #aa9abd;
}

.description{
    margin-left: 80;
    margin-right: 80;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
