body{
    font-family: "Montserrat" sans-serif;
}
h1, h2{
    font-family: "Montserrat", sans-serif;
    color: #D27F78;
    text-align: center;
}

h1{
    font-size: 3em;
}



.nav-bar{
    align-content: left;
    font-family: "Montserrat", sans-serif;
    color: #FFC7BA;
    background-color: #aa9abd;
}


a:link{
    color: #FFC7BA;
    text-decoration: none;
}
a:visited{
    color: #FFC7BA ;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

